.main-container{
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
  padding: 15px;
  
}

.main-wrapper{
  color: #a09faf;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.photo-background{
  display: flex;
  max-height: 300px;
  object-fit: fill;
}

.img {
  min-width: 100%;
  min-height: 100%;
  border-radius: 20px;
}

.avatar{
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ed2a54;
  position: absolute;  
        top: 250px;  
        left: 0;  
        right: 0;  
        margin: auto;
}

.navbar{
  display: inline-block;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  max-width: 800px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.fa-envelope, .fa-user-edit{
  color: #ed2a54;
  font-size: 24px;
  top: 10px;
}

.social-icon-wrapper
{
  display: flex;
  flex-direction: row;
}

.social-icon-left
{
  margin-left: 160px;
}

.icon{
  margin: 0 20px;
}

.social-icon-left, 
.social-icon-right{
  display: flex;
  flex-direction: row;
}

.social-icon-right{
  margin-left: 160px;
}

.btn-icon{
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.name-wrapper
{
  text-align: center;
  color: #a09faf;
  font-size: 35px;
  margin-top: 15px;
}

.first{
  margin-right: 7px;
}

.alias{
  color: #ed2a54;
  text-transform: uppercase;
  margin: 0 7px;
  font-weight: bold;
}

.last{
  margin-left: 7px;
}

.secondary-text{
  margin-bottom: 5px;
}

.info{
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid #2f2e36;
}

.date-rating > ngb-rating{
    color: #ed2a54;
    font-size: 22px;
}

.message-wrapper{
  padding-bottom: 8px;
}

.achievements{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.section-title{
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.achievement{
  margin: 10px;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #1b1a1f;
}

.achievement > i{
  margin-right: 10px;
}

.achievement-wrapper{
  background: #2f2e36;
  border-radius: 20px;
}

.achievement-wrapper-title {
  font-size: 22px;
  padding-top: 10px;
}

.comment-section{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  max-width: 800px;
  width: 100%;
}

.comment-container
{
  margin-top: 10px;
  background: #2f2e36;
  border-radius: 20px;
}

.comment-wrapper{
  display: flex;
  flex-direction: row;
  margin: 15px;
  border-bottom: 1px solid #1b1a1f;
}

.avatar-small{
  vertical-align: middle;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #ed2a54;
}

.comment-info{
  margin-left: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.comment-upper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.person{
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.person, .comment, .date-rating{
  margin-bottom: 5px;
}

.comment{
  margin-top: 5px;
}

.comment-person-info-container{
  display: flex;
  flex-direction: column;
}

.likes-section{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  text-align: center;
}

.likes-section > i{
  font-size: 24px;
}

.likes-section > i:hover{
  color: #ed2a54;
}

.likes-section > span{
  font-size: 12px;
}

.fa-thumbs-up{
  font-size: 20px;
}

.edit-btn{
  float: right;
  background: transparent;
  color: #ed2a54;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.edit-btn:hover{
  background: #2f2e36;
}