.main-container{
  border-radius: 20px;
  color: #a09faf;
  width: 700px;
  margin: 10px;
  height: 100%;
}

.navbar{
  font-size: 32px;
  padding-bottom: 20px;
  border-bottom: 1px solid #2f2e36;
  display: flex;
}

.center {
  flex: 1;
  text-align: center;
}

.right{
  position: absolute;
  right: 17px;
}

.section-container{
  margin: 5px 0;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #2f2e36;
  padding-bottom: 12px;
}

.section-navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-content{
  text-align: center;
  display: flex;
  justify-content: center;
}

.background-picture-container{
  border-radius: 20px;
  height: 185px;
  width: 500px;
  background: #2f2e36;
  text-align: center;
}

.img {
  height: 100%;
  border-radius: 20px;
}

.edit-btn{
  float: right;
  background: transparent;
  color: #ed2a54;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.edit-btn:hover{
  background: #2f2e36;
}

.avatar{
  vertical-align: middle;
  text-align: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid #ed2a54;
}

.fa-times-circle:hover{
  color: #ed2a54;
}

.fa-times-circle{
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.achievement-wrapper{
  background: #2f2e36;
  border-radius: 20px;
  width: 500px;
  padding-top: 10px;
}

.achievement-wrapper-title {
  font-size: 22px;
  padding: 10px 0;
}

.achievement{
  margin: 10px;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #1b1a1f;
}

.achievement > i{
  margin-right: 10px;
}

.achievement-edit-icon{
  position: absolute;
  color: #ed2a54;
}

.fa-pen, .fa-trash{
  font-size: 22px;
  cursor: pointer;

  -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.fa-pen:hover, .fa-trash:hover{
  color: #ed2a54;
}

.input-field {
  margin: 10px 20px 10px 20px;
  width: 500px;
}

.input-text {
  padding: 10px 9px 10px 65px;
  background: #2f2e36;
}

.section-wrapper{
  display: flex;
  flex-direction: column;
}

.basic-info-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.instagram-icon{
  font-size: 40px;
  top: 1px;
}

.mat-dialog-content {
  max-height: 100%; 
}

.basicInfo-btn-wrapper{
  display: flex;
  justify-content: center;
}

.basicInfo-btn-wrapper > button{
  font-size: 26px;
}

.info-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 15px 0;
  width: 500px;
}

.info-wrapper-title > span{
  font-size: 16px;
}

.info-wrapper-title{
  width: 80px;
  text-align: left;
}

.info-wrapper > .input-field{
  margin: 0;
  max-width: 200px;
}

.input-select, .input-date {
  width: 200px;
}

.right > i{
  margin-right: 12px;
}

textarea{
  height: 180px;
  resize: none;
}

span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}

.dropdown {
  width: 200px;
}

.margin-side-5{
  margin: 0 5px;
}

.basic-info-wrapper{
  color: #a09faf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  text-align: left;
}

.basic-info-wrapper:hover{
  cursor: pointer;
}

.basic-info-container:hover{
  background: #2f2e36;
}

.basic-info-container{
  padding: 15px 20px;
  margin: 15px;
  border-radius: 10px;
  width: 500px;
  
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.basic-info-edit-btn{
  /* float: right; */
  background: transparent;
  color: #ed2a54;
  border: none;
  outline: none;

  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.basic-info-input{
  color: #a09faf;
  text-align: center;
}

.basic-info-input > span{
  display: inline-block;
  font-size: 18px;
}

.basic-info-input > .input-field{
  display: inline-block;
}

.btn-wrapper  {
  display: flex;
  justify-content: center;
}

.basic-info-container-editing{
  background: #2f2e36;
  cursor: auto;
  margin: 15px;
  width: 500px;
}

.save-btn{
  border: 1px solid #00C895;
  color: #00C895;
}

.btn-container{
  margin: 10px 20px 20px 20px;
  width: 120px;
}

.basic-info-content{
  text-align: justify;
  margin-top: 12px;
  font-size: 18px;
}

.textarea-field {
	text-align: center;
  position: relative;
  margin: 10px 0;
	/* margin: 30px 20px 20px 20px; */
	/* border-bottom: 1px solid #a1a4b6; */
	border-radius: 12px;
	border: 3px solid #232228;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.setting-name{
  font-size: 15px;
}

.years-if-expierience-select-box{
  display: flex;
  justify-content: left;
  margin: 10px 0;
}

@media screen and (max-width: 850px) {
  .main-container{
    padding: 0;
  }

  .title{
    padding: 3px 5px 15px 5px;
  }

  .settings-wrapper{
    padding: 15px 5px;
  }
}