<div class="nav">
  <div class="btn-container">
    <div class="sim-button button13" routerLink='/user/login'>Sign In</div>
  </div>
  <div class="btn-container">
    <div class="sim-button button13" routerLink='/user/registration'>Sign Up</div>
  </div>
</div>

<div class="main-panel">
  <div class="wrapped-div">
    <div class="terms-of-service-container">
      <span class="terms-of-service-container-title">Terms of service</span>
      <div class="terms-of-service-category">
        <div class="icon-container" (click)="ScrollToTop()">
          <i class="fas fa-arrow-circle-up"></i>
          <span>Return to the top</span>
        </div>
        <span class="terms-of-service-category-title">1. The services we provide</span>
        <div class="terms-of-service-category-wrapper">
          <span class="terms-of-service-category-wrapper-title">Provide a personalized experience for you:</span>
          <span>Your experience on GymNotes is unlike anyone else's: from the coaches, messages, training history,
            statistics and other
            content you see on website and other features you might use.</span>
        </div>
        <div class="terms-of-service-category-wrapper">
          <span class="terms-of-service-category-wrapper-title">Research ways to make our services better:</span>
          <span>We engage in research to develop, test, and improve our Products. This includes analyzing the data we
            have about our users and understanding how people use our Products, for example by conducting surveys and
            testing and troubleshooting new features. Our Data Policy explains how we use data to support this research
            for the purposes of developing and improving our service</span>
        </div>
        <div class="terms-of-service-category-wrapper">
          <span class="terms-of-service-category-wrapper-title">Enable global access to our services:</span>
          <span>To operate our global service, we need to store and distribute content and data in our data centers and
            systems around the world, including outside your country of residence.</span>
        </div>
      </div>

      <div class="terms-of-service-category">
        <div class="icon-container" (click)="ScrollToTop()">
          <i class="fas fa-arrow-circle-up"></i>
          <span>Return to the top</span>
        </div>
        <span class="terms-of-service-category-title">2. Your commitments to Facebook and our community</span>
        <div class="terms-of-service-category-wrapper">
          <span class="terms-of-service-category-wrapper-title">Who can use GymNotes</span>
          <span>When people stand behind their opinions and actions, our community is safer and more accountable. For
            this reason, you must:
            Use the same name that you use in everyday life.
            Provide accurate information about yourself.
            Create only one account (your own) and use your timeline for personal purposes.
            Not share your password, give access to your Facebook account to others, or transfer your account to anyone
            else (without our permission).
            We try to make Facebook broadly available to everyone, but you cannot use GymNotes if:
            You are under 13 years old.
            You are a convicted sex offender.
            We've previously disabled your account for breaches of our Terms or Policies.
            You are prohibited from receiving our products, services, or software under applicable laws.</span>
        </div>
        <div class="terms-of-service-category-wrapper">
          <span class="terms-of-service-category-wrapper-title"> What you can share and do on Facebook</span>
          <span>We want people to use GymNotes to express themselves and to share content that is important to them, but
            not at the expense of the safety and well-being of others or the integrity of our community. You therefore
            agree not to engage in the conduct described below (or to facilitate or support others in doing so):</span>
        </div>
      </div>

    </div>
  </div>
</div>
