@import '_main';

.navbar {
	border-bottom: 1px solid #ed2a54;
}

.select-list-container {
	float: left;
}

.data-container {
	margin: 20px;
	width: 150px;
	display: inline-block;
}

.input-field {
	margin: 0 20px;
	float: right;
}
