@import '_main';

.main-container {
	margin: 0 15px 15px 15px;
}

.title-container {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #ed2a54;
	padding-bottom: 15px;
	justify-content: center;
	align-items: center;
}

textarea {
	max-height: 175px;
}

.input-field {
	margin: 10px 20px 10px 20px;
}

.input-text {
	padding: 10px 9px 10px 8px;
}

.btn-wrapper {
	display: flex;
	justify-content: center;
}

.btn-width100 {
	width: 100%;
}

.width500 {
	max-width: 500px;
	width: 100%;
}

.training-plan-container {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

.training-week {
	-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.4);
	border-radius: 20px;
}

.training-week,
.training-day,
.training-exercise,
.training-day-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 15px 0;
}

.training-day {
	background: #2f2e36;
	border-radius: 20px;
}

.table {
	color: #a09faf;
}

.table-responsive {
	width: 80%;
}

.table-icon {
	text-align: center;
	vertical-align: middle;
	margin: 0;
	width: 8px;
	padding: 0;
}

.fa-trash-alt {
	color: #ed2a54;
}

.fa-plus {
	color: #00c895;
}

.fa-trash-alt,
.fa-plus {
	padding: 14px;
	border-radius: 10px;
	cursor: pointer;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.fa-plus:hover {
	background: #060d19;
}

.fa-trash-alt:hover {
	background: #060d19;
}

.input-table {
	background: transparent;
	color: #a09faf;
	border: none;
	outline: none;
	width: 100%;
}

td {
	padding: 6px;
}

div.minimalistBlack {
	border: 2px solid $dark-grey;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.divTable.minimalistBlack .divTableCell,
.divTable.minimalistBlack .divTableHead {
	border: 2px solid $dark-grey;
	padding: 5px 4px;
}

.divTableCellIcon {
	text-align: center;
	border: 2px solid $dark-grey;
}

.divTable.minimalistBlack .divTableBody .divTableCell {
	font-size: 13px;
}

.border-error {
	border: 2px solid $red;
}

.divTable.minimalistBlack .divTableHeading {
	background: $dark-grey;
	border-bottom: 2px solid $dark-grey;
}

.divTable.minimalistBlack .divTableHeading .divTableHead {
	font-size: 15px;
	font-weight: bold;
	color: $main-text-color;
	text-align: left;
}
.min imalistBlack .tableFootStyle {
	font-size: 14px;
}

/* DivTable.com */
.divTable {
	display: table;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	display: table-header-group;
}

.divTableCell,
.divTableCellIcon,
.divTableHead {
	display: table-cell;
}

.divTableHeading {
	display: table-header-group;
}

.divTableFoot {
	display: table-footer-group;
}

.divTableBody {
	display: table-row-group;
}
