<div class="main-container">

  <div class="title-container">
    <div class="input-wrapper width500">
      <form [formGroup]="TrainingPlanForm" (submit)="onNextStep()">
        <div class="input-field">
          <input class="input-text effect-2" type="text" placeholder="Training plan name" maxlength="50" formControlName="Name">
          <span class="focus-border"></span>
        </div>
        <div class="errorContainer" *ngIf="form.Name.touched || SubmittedNextStep">
          <span class="errorInfo" *ngIf="form.Name.errors?.required">Name is required</span>
        </div>
        <div class="input-field">
          <textarea class="input-text effect-2" type="text" placeholder="Description" maxlength="250" formControlName="Description"></textarea>
          <span class="focus-border"></span>
        </div>
        <div class="errorContainer" *ngIf="form.Description.touched || SubmittedNextStep">
          <span class="errorInfo" *ngIf="form.Description.errors?.required">Description is required</span>
        </div>
        <div class="btn-container">
          <div class="sim-button button13" (click)="onNextStep()">Next</div>
        </div>
      </form>
    </div>
  </div>

  <div class="content-container" *ngIf="ValidForNextStep">
    <div class="training-plan-container">
      <div class="training-week">
        <div class="input-wrapper width500">
          <div class="input-field">
            <input class="input-text effect-2" type="text" placeholder="Training week name" maxlength="50">
            <span class="focus-border"></span>
          </div>
        </div>
        <div class="training-day">
          <div class="input-wrapper width500">
            <div class="input-field">
              <input class="input-text effect-2" type="text" placeholder="Training day name" maxlength="50">
              <span class="focus-border"></span>
            </div>
          </div>
          <div class="training-exercies">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style="width: 200px;">Exercise</th>
                    <th scope="col" style="width: 60px;">Sets</th>
                    <th scope="col" style="width: 60px;">Reps</th>
                    <th scope="col" style="width: 60px;">Tempo</th>
                    <th scope="col" style="width: 60px;">Rest[s]</th>
                    <th scope="col" style="width: 60px;">RPE</th>
                    <th scope="col" style="width: 140px;">Weight[pounds]</th>
                    <th scope="col" style="width: 200px;">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input class="input-table" type="text" maxlength="50" /></td>
                    <td><input class="input-table" type="number" min="0" step="1" /></td>
                    <td><input class="input-table" type="number" min="0" step="1" /></td>
                    <td><input class="input-table" type="text" maxlength="7" /></td>
                    <td><input class="input-table" type="number" min="0" step="1" /></td>
                    <td><input class="input-table" type="number" min="0" max="10" step="1" /></td>
                    <td><input class="input-table" type="number" min="0" step="1" /></td>
                    <td><input class="input-table" type="text" maxlength="150" /></td>
                    <td class="table-icon"><span class="fas fa-trash-alt" title="Delete"></span></td>
                    <td class="table-icon"><span class="fas fa-plus" title="Add"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="btn-wrapper width500">
            <div class="btn-container btn-width100">
              <div class="sim-button button13">Remove training day</div>
            </div>
            <div class="btn-container btn-width100">
              <div class="sim-button-green button13-green">Add training day</div>
            </div>
          </div>
        </div>
        <div class="btn-wrapper width500">
          <div class="btn-container btn-width100">
            <div class="sim-button button13">Remove training week</div>
          </div>
          <div class="btn-container btn-width100">
            <div class="sim-button-green button13-green">Add training week</div>
          </div>
        </div>
      </div>
      <div class="input-wrapper width500">
        <div class="btn-container">
          <div class="sim-button button13">Save training plan</div>
        </div>
      </div>
    </div>
  </div>
</div>
