<div class="main-container">
  <app-Spinner *ngIf="isLoading"></app-Spinner>
  <form [formGroup]="trainingPlanForm" (submit)="onNextStep()">
    <div class="title-container">
      <div class="input-wrapper width500">
        <div class="input-field">
          <input class="input-text effect-2" type="text" placeholder="Training plan name" maxlength="50"
            formControlName="name">
          <span class="focus-border"></span>
        </div>
        <div class="errorContainer" *ngIf="form.name.touched || submittedNextStep">
          <span class="errorInfo" *ngIf="form.name.errors?.required">Name is required</span>
        </div>
        <div class="input-field">
          <textarea class="input-text effect-2" type="text" placeholder="Description" maxlength="250"
            formControlName="description">
              </textarea>
          <span class="focus-border"></span>
        </div>
        <div class="errorContainer" *ngIf="form.description.touched || submittedNextStep">
          <span class="errorInfo" *ngIf="form.description.errors?.required">Description is required</span>
        </div>
        <div class="btn-container" *ngIf="!validForNextStep">
          <div class="sim-button button13" (click)="onNextStep()">Next</div>
        </div>
      </div>
    </div>

    <div class="content-container" *ngIf="validForNextStep">
      <div class="training-plan-container" formArrayName="trainingWeeks">

        <div class="training-week" *ngFor="let weekSection of getWeek(trainingPlanForm); let i = index"
          [formGroupName]="i">
          <div class="input-wrapper width500">
            <div class="input-field">
              <input class="input-text effect-2" type="text" placeholder="Training week name" maxlength="50"
                formControlName="name">
              <span class="focus-border"></span>
            </div>
            <div class="errorContainer" *ngIf="weekSection.controls.name.touched">
              <span class="errorInfo" *ngIf="weekSection.controls.name.errors?.required">Name is
                required</span>
            </div>
          </div>
          <div formArrayName="trainingDays" class="training-day-wrapper">
            <div class="training-day" [formGroupName]="j" *ngFor="let daySection of getDay(weekSection); let j = index">
              <div class="input-wrapper width500">
                <div class="input-field">
                  <input class="input-text effect-2" type="text" placeholder="Training day name" maxlength="50"
                    formControlName="name">
                  <span class="focus-border"></span>
                </div>
                <div class="errorContainer" *ngIf="daySection.controls.name.touched">
                  <span class="errorInfo" *ngIf="daySection.controls.name.errors?.required">>Name
                    is
                    required</span>
                </div>
              </div>
              <div class="training-exercise" formArrayName="trainingExercises">
                <div class="table-responsive">

                  <div class="divTable minimalistBlack">
                    <div class="divTableHeading">
                      <div class="divTableRow">
                        <div class="divTableHead">Exercise*</div>
                        <div class="divTableHead">Sets*</div>
                        <div class="divTableHead">Reps</div>
                        <div class="divTableHead">Tempo</div>
                        <div class="divTableHead">Rest[s]</div>
                        <div class="divTableHead">RPE</div>
                        <div class="divTableHead">Weight[pounds]</div>
                        <div class="divTableHead">Description</div>
                      </div>
                    </div>
                    <div class="divTableBody" [formGroupName]="k"
                      *ngFor="let exerciseSection of getExercise(daySection); let k=index">
                      <div class="divTableRow">
                        <div class="divTableCell"><input class="input-table" type="text" maxlength="50"
                            formControlName="exerciseName" />
                        </div>
                        <div class="divTableCell"><input class="input-table" type="number" min="0" step="1"
                            formControlName="sets" /></div>
                        <div class="divTableCell"><input class="input-table" type="number" min="0" step="1"
                            formControlName="reps" /></div>
                        <div class="divTableCell"><input class="input-table" type="text" maxlength="7"
                            formControlName="tempo" /></div>
                        <div class="divTableCell"><input class="input-table" type="number" min="0" step="1"
                            formControlName="rest" /></div>
                        <div class="divTableCell"><input class="input-table" type="number" min="0" max="10" step="1"
                            formControlName="rpe" /></div>
                        <div class="divTableCell"><input class="input-table" type="number" min="0" step="1"
                            formControlName="weight" /></div>
                        <div class="divTableCell"><input class="input-table" type="text" maxlength="150"
                            formControlName="description" /></div>
                        <div class="divTableCellIcon" *ngIf="getExercise(daySection).length > 1"><span
                            class="fas fa-trash-alt" title="Delete" (click)="removeExercise(i,j,k)">
                          </span></div>
                        <div class="divTableCellIcon" *ngIf="isMoreThanZeroExercise(k, i, j)"> <span class="fas fa-plus"
                            title="Add" (click)="addExercise(i,j)">
                          </span></div>
                      </div>
                    </div>
                  </div>
                  <div class="errorContainer" *ngIf="daySection.controls.trainingExercises.touched">
                    <span class="errorInfo" *ngIf="daySection.controls.trainingExercises.invalid">Exercise name and sets
                      are
                      required</span>
                  </div>

                </div>
              </div>
              <div class="btn-wrapper width500">
                <div class="btn-container btn-width100" *ngIf="getDay(weekSection).length > 1">
                  <div class="sim-button button13" (click)="removeDay(i)">Remove training day</div>
                </div>
                <div class="btn-container btn-width100" *ngIf="isMoreThanZeroDay(j, i)">
                  <div class="sim-button-green button13-green" (click)="addDay(i)">Add training day</div>
                </div>
              </div>
            </div>
            <div class="btn-wrapper width500">
              <div class="btn-container btn-width100" *ngIf="getWeek(trainingPlanForm).length > 1">
                <div class="sim-button button13" (click)="removeWeek(i)">Remove training week</div>
              </div>
              <div class="btn-container btn-width100" *ngIf="isMoreThanZeroWeek(i)">
                <div class="sim-button-green button13-green" (click)="addWeek()">Add training week</div>
              </div>
            </div>
          </div>
        </div>

        <div class="input-wrapper width500">
          <div class="btn-container">
            <div class="sim-button button13" (click)="onSubmit()">Save training plan</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
