@import '_main';

.main-container{
  margin: 0 15px 15px 15px;
}

.title-container{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ed2a54;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
}

textarea{
  max-height: 175px;
}

.content-container{

}

.input-field {
  margin: 10px 20px 10px 20px;
}

.input-text {
	padding: 10px 9px 10px 8px;
}

.btn-wrapper  {
  display: flex;
  justify-content: center;
}

.btn-width100{
  width: 100%;
}

.width500{
  max-width: 500px;
  width: 100%;
}

.training-plan-container{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
