<mat-dialog-content>
  <div class="panel-container" ngClass="{'panel-container-active': showElement === 'custom'}">
    <div class="panel-wrapper" (click)="showElement != 'custom' ? toggle('custom') : toggle('')">
      <div class="left">
        <div class="panel-title-wrapper">
          <span class="panel-title">Add custom workout</span>
        </div>
      </div>
      <div class="icon-right">
        <i *ngIf="showElement != 'custom'" class="fas fa-sort-down"></i>
        <i *ngIf="showElement === 'custom'" class="fas fa-sort-up"></i>
      </div>
    </div>
    <div class="content-panel-container" *ngIf="showElement === 'custom'">
      <form [formGroup]="workoutForm" (submit)="onAddedWorkout(true)">
        <div>
          <span class="content-panel-title">Workout name</span>
          <div class="input-field">
            <input class="input-text effect-2" formControlName="workoutName" type="text" placeholder="Workout name">
            <span class="focus-border"></span>
          </div>
          <div class="errorContainer" *ngIf="submitted || form.workoutName.touched">
            <span class="errorInfo" *ngIf="form.workoutName.errors?.required">Workout name is required</span>
          </div>
        </div>
        <div>
          <span class="content-panel-title">Workout date</span>
          <mat-form-field>
            <mat-label>Custom calendar color</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker panelClass="datepicker"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="training-exercise" formArrayName="trainingExercise">
          <div class="table-responsive">
            <div class="divTable minimalistBlack">
              <div class="divTableHeading">
                <div class="divTableRow">
                  <div class="divTableHead">Exercise*</div>
                  <div class="divTableHead">Sets*</div>
                  <div class="divTableHead">Reps</div>
                  <div class="divTableHead">Tempo</div>
                  <div class="divTableHead">Rest[s]</div>
                  <div class="divTableHead">RPE</div>
                  <div class="divTableHead">Weight[pounds]</div>
                  <div class="divTableHead">Description</div>
                </div>
              </div>
              <div class="divTableBody" [formGroupName]="k"
                *ngFor="let exerciseSection of getExercise(workoutForm); let k=index">
                <div class="divTableRow">
                  <div class="divTableCell"><input class="input-table" type="text" maxlength="50"
                      formControlName="exerciseName" />
                  </div>
                  <div class="divTableCell"><input class="input-table" type="number" min="0" step="1"
                      formControlName="sets" /></div>
                  <div class="divTableCell"><input class="input-table" type="number" min="0" step="1"
                      formControlName="reps" /></div>
                  <div class="divTableCell"><input class="input-table" type="text" maxlength="7"
                      formControlName="tempo" /></div>
                  <div class="divTableCell"><input class="input-table" type="number" min="0" step="1"
                      formControlName="rest" /></div>
                  <div class="divTableCell"><input class="input-table" type="number" min="0" max="10" step="1"
                      formControlName="rpe" /></div>
                  <div class="divTableCell"><input class="input-table" type="number" min="0" step="1"
                      formControlName="weight" /></div>
                  <div class="divTableCell"><input class="input-table" type="text" maxlength="150"
                      formControlName="description" /></div>
                  <div class="divTableCellIcon" *ngIf="getExercise(workoutForm).length > 1"><span
                      class="fas fa-trash-alt" title="Delete" (click)="removeExercise(k)">
                    </span></div>
                  <div class="divTableCellIcon" *ngIf="isMoreThanZeroExercise(k)"> <span class="fas fa-plus" title="Add"
                      (click)="addExercise()">
                    </span></div>
                </div>
              </div>
            </div>
            <div class="errorContainer" *ngIf="submitted">
              <span class="errorInfo" *ngIf="isExerciseFormInValid">Exercise name and sets are required</span>
            </div>
          </div>
        </div>
        <div class="btn-wrapper">
          <div class="btn-container">
            <div class="sim-button button13" (click)="onAddedWorkout(true)">Save</div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel-container" ngClass="{'panel-container-active': showElement === 'fromTrainingPlan'}">
    <div class="panel-wrapper" (click)="showElement != 'fromTrainingPlan' ? toggle('fromTrainingPlan') : toggle('')">
      <div class="left">
        <div class="panel-title-wrapper">
          <span class="panel-title">Add workout from training plan</span>
        </div>
      </div>
      <div class="icon-right">
        <i *ngIf="showElement != 'fromTrainingPlan'" class="fas fa-sort-down"></i>
        <i *ngIf="showElement === 'fromTrainingPlan'" class="fas fa-sort-up"></i>
      </div>
    </div>
    <div class="content-panel-container" *ngIf="showElement === 'fromTrainingPlan'">

      <div class="dropdown-wrapper">
        <app-Dropdown (selectedItem)="onTrainingPlanSelected($event)" defaultValue="{{'Select training plan'}}"
          [listElements]="trainingPlanList.elementName">
        </app-Dropdown>
      </div>

      <div class="dropdown-wrapper">
        <app-Dropdown (selectedItem)="onTrainingWeekSelected($event)" defaultValue="{{'Select training week'}}"
          [listElements]="trainingWeekList.elementName"
          [selectedElement]="trainingWeekList.elementName[selectedTrainingWeek]">
        </app-Dropdown>
      </div>

      <div class="dropdown-wrapper">
        <app-Dropdown (selectedItem)="onTrainingDaySelected($event)" defaultValue="{{'Select training day'}}"
          [listElements]="trainingDayList.elementName"
          [selectedElement]="trainingDayList.elementName[selectedTrainingDay]">
        </app-Dropdown>
      </div>
      <div class="errorContainer" *ngIf="submitted && isSelectedWorkoutError">
        <span class="errorInfo">Workout not selected!</span>
      </div>
      <div class="btn-wrapper">
        <div class="btn-container">
          <div class="sim-button button13" (click)="onAddedWorkout(false)">Save</div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
