@import '_main';

.panel-container {
	display: flex;
	flex-direction: column;
	margin: 15px;
}

.panel-container-active {
	background: #2f2e36;
	border-radius: 20px;
}

.panel-wrapper:hover {
	background: #2f2e36;
}

.panel-wrapper {
	display: flex;
	flex-direction: row;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	padding: 15px;
	justify-content: space-between;
	border-bottom: 1px solid #2f2e36;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.left {
	display: flex;
	flex-direction: row;
}

.icon-right {
	font-size: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: #a09faf;
	margin-right: 20px;
}

.panel-title-wrapper {
	display: flex;
	flex-direction: column;
}

.panel-title {
	font-size: 20px;
	color: #fff;
}

.content-panel-container {
	display: flex;
	flex-direction: column;
	margin: 0 10px 10px 10px;
	padding: 0 15px 15px 15px;
}

.content-panel-title {
	font-size: 14px;
	color: #fff;
}

.dropdown-wrapper {
	margin: 8px;
	width: 300px;
}

.btn-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.btn-container {
	width: 200px;
}

.training-exercise {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 15px 0;
}

.table-responsive {
	width: 100%;
}

.input-table {
	background: transparent;
	color: #a09faf;
	border: none;
	outline: none;
	width: 100%;
}

.fa-trash-alt {
	color: #ed2a54;
}

.fa-plus {
	color: #00c895;
}

.fa-trash-alt,
.fa-plus {
	padding: 14px;
	border-radius: 10px;
	cursor: pointer;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.fa-plus:hover {
	background: #060d19;
}

.fa-trash-alt:hover {
	background: #060d19;
}

.table-icon {
	text-align: center;
	vertical-align: middle;
	margin: 0;
	width: 8px;
	padding: 0;
}

.input-field {
	margin: 10px 0;
	width: 400px;
}

.content-panel-title {
	color: $main-text-color;
	font-size: 16px;
}

.input-text {
	padding: 6px 9px 6px 5px;
}

div.minimalistBlack {
	border: 2px solid $dark-grey;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.divTable.minimalistBlack .divTableCell,
.divTable.minimalistBlack .divTableHead {
	border: 2px solid $dark-grey;
	padding: 5px 4px;
}

.divTableCellIcon {
	text-align: center;
	border: 2px solid $dark-grey;
}

.divTable.minimalistBlack .divTableBody .divTableCell {
	font-size: 13px;
}

.border-error {
	border: 2px solid $red;
}

.divTable.minimalistBlack .divTableHeading {
	background: $dark-grey;
	border-bottom: 2px solid $dark-grey;
}

.divTable.minimalistBlack .divTableHeading .divTableHead {
	font-size: 15px;
	font-weight: bold;
	color: $main-text-color;
	text-align: left;
}
.min imalistBlack .tableFootStyle {
	font-size: 14px;
}

.divTable {
	display: table;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	display: table-header-group;
}

.divTableCell,
.divTableCellIcon,
.divTableHead {
	display: table-cell;
}

.divTableHeading {
	display: table-header-group;
}

.divTableFoot {
	display: table-footer-group;
}

.divTableBody {
	display: table-row-group;
}

.mat-datepicker-toggle {
	color: $red;
}

.mat-form-field input {
	color: $secondary-color;
}

.mat-form-field input::placeholder {
	color: $secondary-color;
}

::ng-deep .datepicker {
	background: $secondary-color;
}

::ng-deep .datepicker .mat-calendar-body-today:not(.mat-calendar-body-selected) {
	border-color: darkblue;
}
