<div class="main-container">
  <div class="menu-left">
    <div class="title">Tools</div>
    <div class="mobile">
      <div class="settings-panel">
        <app-NavigationItem class="no-outline" routerLink="bmi" routerLinkActive Icon="fas fa-weight" Title="BMI">
        </app-NavigationItem>
        <app-NavigationItem class="no-outline" routerLink="calorie" routerLinkActive Icon="fas fa-calculator" Title="Calorie calculator">
        </app-NavigationItem>
        <app-NavigationItem class="no-outline" routerLink="wilks" routerLinkActive Icon="fas fa-dumbbell" Title="Wilks">
        </app-NavigationItem>
        <app-NavigationItem class="no-outline" routerLink="body-fat" routerLinkActive Icon="fas fa-ruler-combined" Title="Body fat">
        </app-NavigationItem>
        <app-NavigationItem class="no-outline" routerLinkActive Icon="fas fa-balance-scale-right" Title="BMR">
        </app-NavigationItem>
        <app-NavigationItem class="no-outline" routerLinkActive Icon="fas fa-dumbbell" Title="1 rep max">
        </app-NavigationItem>
      </div>
    </div>
  </div>
  <div class="wrapper-panel">
    <router-outlet></router-outlet>
  </div>
</div>
