@import '_main';

.span {
	color: $main-text-color;
}

.title {
	color: $main-text-color;
	font-size: 32px;
	margin-top: 20px;
	margin-bottom: 40px;
	display: block;
}

.subTitle {
	color: $main-text-color;
	font-size: 20px;
	margin-bottom: 20px;
	display: block;
}

.message {
	color: $main-text-color;
	font-size: 20px;
	margin-bottom: 20px;
	display: block;
}

.container {
	background: $main-color;
	text-align: center;
}
