<div class="main-container">
  <div class="top">Wilks</div>
  <div class="switch-ontainer">
    <label class="switch">
      <input class="switch-input" type="checkbox" />
      <span class="switch-label" data-on="Metric" data-off="Imperial"></span> <span class="switch-handle"></span>
    </label>
    <label class="switch">
      <input class="switch-input" type="checkbox" />
      <span class="switch-label" data-on="Female" data-off="Male"></span> <span class="switch-handle"></span>
    </label>
  </div>
  <div class="input-container">
    <div class="title">Body weight (pounds)</div>
    <div class="input-field">
      <input class="input-text effect-2" type="number" placeholder="Body weight" step="0.01">
      <span class="focus-border"></span>
    </div>
  </div>
  <div class="input-container">
    <div class="title">Weight lifted (pounds)</div>
    <div class="input-field">
      <input class="input-text effect-2" type="number" placeholder="Weight lifted" step="0.5">
      <span class="focus-border"></span>
    </div>
  </div>
  <div class="result-container">
  </div>
</div>
