<div class="main-panel">
  <div class="wrapped-div">
    <div class="info-container">
      <form [formGroup]="passwordForm" (submit)="onSubmit()">
        <label class="title">Reset your password</label>
        <div class="input-field">
          <input class="input-text input-text-password effect-2" type="password" placeholder="New password"
            formControlName="password">
          <span class="fas fa-lock fa-lg"></span>
          <span class="focus-border"></span>
        </div>
        <div class="errorContainer" *ngIf="submitted || form.password.touched">
          <span class="errorInfo" *ngIf="form.password.touched && form.password.errors?.required">Password is
            required</span>
          <span class=" errorInfo" *ngIf="form.password.touched && form.password.errors?.minlength">Minimum
            6 characters required.</span>
        </div>
        <div class=" input-field">
          <input class="input-text input-text-password effect-2" type="password" placeholder="Confirm new password"
            formControlName="confirmPassword">
          <span class="fas fa-lock fa-lg"></span>
          <span class="focus-border"></span>
        </div>
        <div class="errorContainer" *ngIf="submitted || form.confirmPassword.touched">
          <span class="errorInfo" *ngIf="form.confirmPassword.touched && form.confirmPassword.errors?.required">Confirm
            password is required</span>
          <span class="errorInfo" *ngIf="form.confirmPassword.touched && form.confirmPassword.errors?.mustMatch">Confirm
            Password does not match</span>
        </div>
        <div class="btn-container">
          <div class="sim-button button13" (click)="onSubmit()">Reset password</div>
        </div>
      </form>
    </div>
  </div>
</div>
