@import '_main';

.dropdown {
  width: 100%;
}

.dropdown-menu2 {
	position: absolute;
	padding: 0;
	overflow-y: auto;
	background: #232228;
	color: #a09faf;
	width: 100%;
	z-index: 9;

	max-height: 0;
	transition: max-height 0.15s ease-out;
	overflow: auto;
}

.showList {
	max-height: 400px;
	padding: 10px;
	margin-top: 7px;
	border-radius: 5px;
	transition: max-height 0.45s ease-in;
}

.dropdown-element {
	cursor: pointer;
  margin: 10px 0;
  padding: 5px;
  border-radius: 8px;
}

.dropdown {
	display: inline-block;
	background: #232228;
	border-radius: 5px;
	transition: all .5s ease;
	position: relative;
	font-size: 14px;
	color: #a09faf;
	height: 100%;
	text-align: left;
}

.dropdown .select {
	cursor: pointer;
	display: block;
	padding: 10px;
}

.dropdown .select > i {
	font-size: 13px;
	color: #a09faf;
	cursor: pointer;
	transition: all .3s ease-in-out;
	float: right;
	line-height: 20px;
}

.dropdown:active {
	background: #232228;
}

.dropdown.active:hover,
.dropdown.active {
	background: #232228;
}

.dropdown.active .select > i {
	transform: rotate(-90deg);
}

.dropdown .dropdown-menu {
	position: absolute;
	background: #232228;
	color: #a09faf;
	width: 100%;
	left: 0;
	margin-top: 1px;
	overflow: hidden;
	display: none;
	max-height: 144px;
	overflow-y: auto;
	z-index: 9;
}

.dropdown-element:hover {
	background: $secondary-color;
}

