//*************
//Media queries
//*************
$tablet: 768;
$large: 1024;
$desktop: 1280;

@mixin tablet {
  @media only screen and (min-width: $tablet * 1px) {
    @content;
}
}

@mixin large {
  @media only screen and (min-width: $large * 1px) {
    @content;
}
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
}
}

//****************
//Cover background
//****************
@mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
