//***************
//Color Variables
//***************

//main
$main-color: #1b1a1f;
$secondary-color: #2f2e36;

//Text color
$main-text-color: #a09faf;

//Accents
$red: #ed2a54;

//Others
$gold: #FFD700;
$silver: #A9A9A9;
$bronze: #cd7f32;
$green: #00C895;
$grey: #a09faf;

//Socials
$twitter: #1da1f2;
$facebook: #3b5998;
$instagram: #c13584;
