
.input-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.title{
  color: #a09faf;
  margin-right: 10px;
  min-width: 120px;
}

.input-text {
	padding: 10px 9px 10px 8px;
}

.top{
  color: #fff;
  font-size: 26px;
  text-align: center;
  border-bottom: 1px solid #ed2a54;
  padding-bottom: 5px;
}

.result-container{
  margin-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.input-field {
	margin: 10px 20px 10px 20px;
}