<app-Header [isSearchBox]="true" (searchBox)="updateSearch($event)">

  <app-Dropdown firstSelectBox [defaultValue]='firstFilterDropdownList[0]' [listElements]="firstFilterDropdownList" (selectedItem)="userTypeDropdown($event)">
  </app-Dropdown>

  <app-Dropdown secondSelectBox [defaultValue]='secondFilterDropdownList[0]' [listElements]="secondFilterDropdownList" (selectedItem)="filterByDropdown($event)">
  </app-Dropdown>

</app-Header>

<app-Pagination [paginatedList]="userListStorage.userList" (nextPageEvent)="nextPage()" (prevPageEvent)="prevPage()">
</app-Pagination>


<main class="main-container container d-flex flex-column">

  <div *ngIf="userListStorage.isLoading" class="row">
    <div class="spinner">
      <div class=" text-center">
        <div class="spinner-grow spinner-grow-lg" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="userListStorage.showNoResults" class="row no-results">
    <div *ngIf="true">
      <span class="secondaryText">
        No results.
      </span>
    </div>
  </div>

  <div *ngIf="userListStorage.error" class="row no-results">
    <div *ngIf="true">
      <span class="secondaryText">
        Something went wrong!
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="userListStorage.showList" class="user-list-container">
      <app-UserCard *ngFor="let user of userListStorage.userList.items" [user]="user"></app-UserCard>
    </div>
  </div>
</main>

<app-Pagination [paginatedList]="userListStorage.userList" (nextPageEvent)="nextPage()" (prevPageEvent)="prevPage()">
</app-Pagination>
