<app-Header [showSecondFilter]="false" [isSearchBox]="true" (searchBox)="trainingPlanStorage.updateSearch($event)">

  <app-Dropdown
    firstSelectBox
    [defaultValue]="utilityService.getValueByKey(trainingPlanStorage.filterOption, 1)"
    [listElements]="trainingPlanStorage.filterOption"
    (selectedItem)="trainingPlanStorage.filterOptionDropdown($event)">
  </app-Dropdown>

  <div buttons class="btn-container">
    <div class="sim-button button13" [routerLink]="['add-training-plan']" routerLinkActive="router-link-active">
      Add
      training</div>
  </div>
</app-Header>

<app-Pagination [paginatedList]="trainingPlanStorage.trainingPlan" (nextPageEvent)="trainingPlanStorage.nextPage()" (prevPageEvent)="trainingPlanStorage.prevPage()">
</app-Pagination>

<main class="content-container container d-flex flex-column">

  <app-TrainingPlanCard *ngFor="let item of trainingPlanStorage.trainingPlan.items" [TrainingPlan]="item"></app-TrainingPlanCard>

  <div *ngIf="trainingPlanStorage.isLoading" class="row">
    <div class="spinner">
      <div class=" text-center">
        <div class="spinner-grow spinner-grow-lg" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="trainingPlanStorage.showNoResults" class="row no-results">
    <div *ngIf="true">
      <span class="secondaryText">
        No results.
      </span>
    </div>
  </div>

  <div *ngIf="trainingPlanStorage.error" class="row no-results">
    <div *ngIf="true">
      <span class="secondaryText">
        Something went wrong!
      </span>
    </div>
  </div>

</main>

<app-Pagination
  [paginatedList]="trainingPlanStorage.trainingPlan"
  (nextPageEvent)="trainingPlanStorage.nextPage()"
  (prevPageEvent)="trainingPlanStorage.prevPage()">
</app-Pagination>

