<div class="navbar">
  <div class="select-list-container">
    <div class="data-container">
      <select id="filter-option" class="form-control input" name="filter-option">
        <option value="Male">All</option>
        <option value="Male">Favorites</option>
        <option value="Female">Newest</option>
      </select>
    </div>
  </div>
  <div class="btn-container">
    <div class="sim-button button13" [routerLink]="['/main/add-training-plan']" routerLinkActive="router-link-active">
      Add
      training</div>
  </div>
  <div class="input-field">
    <input class="input-text effect-2" type="email" placeholder="Search">
    <span class="fas fa-search fa-search-input fa-lg"></span>
    <span class="focus-border"></span>
  </div>
</div>

<div class="pagination-wrapper">
  <nav class="pagination-container">
    <div class="pagination">
      <a class="pagination-newer">PREV</a>
      <span class="pagination-inner">
        <a>1</a>
        <a class="pagination-active">2</a>
        <a>3</a>
      </span>
      <a class="pagination-older">NEXT</a>
    </div>
  </nav>
</div>

<div class="content-container">

  <div class=" training-container selected">
    <div class="left-side">
      <span class="title">Training plan name</span>
      <span>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
        lorem lorem lorem lorem lorem</span>
      <span class="date">Last edit: 2020-02-01</span>
    </div>
    <div class="right-side">
      <div class="icon">
        <i class="fas fa-heart"></i>
        <div class="icon-tooltip">
          <p>Favorite</p>
        </div>
      </div>
      <div class="icon">
        <i class="fas fa-pencil-alt"></i>
        <div class="icon-tooltip">
          <p>Edit</p>
        </div>
      </div>
      <div class="icon">
        <i class="fas fa-check"></i>
        <div class="icon-tooltip">
          <p>Main plan</p>
        </div>
      </div>
      <div class="icon">
        <i class="fas fa-trash-alt"></i>
        <div class="icon-tooltip">
          <p>Delete</p>
        </div>
      </div>
    </div>
  </div>

  <div class="training-container favorite">
    <div class="left-side">
      <span class="title">Training plan name</span>
      <span>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
        lorem lorem lorem lorem lorem</span>
      <span class="date">Last edit: 2020-02-01</span>
    </div>
    <div class="right-side">
      <div class="icon">
        <i class="fas fa-heart"></i>
        <div class="icon-tooltip">
          <p>Favorite</p>
        </div>
      </div>
      <div class="icon">
        <i class="fas fa-pencil-alt"></i>
        <div class="icon-tooltip">
          <p>Edit</p>
        </div>
      </div>
      <div class="icon">
        <i class="fas fa-check"></i>
        <div class="icon-tooltip">
          <p>Main plan</p>
        </div>
      </div>
      <div class="icon">
        <i class="fas fa-trash-alt"></i>
        <div class="icon-tooltip">
          <p>Delete</p>
        </div>
      </div>
    </div>
  </div>

  <div class="training-container">
    <div class="left-side">
      <span class="title">Training plan name</span>
      <span>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
        lorem lorem lorem lorem lorem</span>
      <span class="date">Last edit: 2020-02-01</span>
    </div>
    <div class="right-side">
      <i class="far fa-heart"></i>
      <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-check"></i>
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>

  <div class="training-container">
    <div class="left-side">
      <span class="title">Training plan name</span>
      <span>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
        lorem lorem lorem lorem lorem</span>
      <span class="date">Last edit: 2020-02-01</span>
    </div>
    <div class="right-side">
      <i class="far fa-heart"></i>
      <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-check"></i>
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>

  <div class="training-container">
    <div class="left-side">
      <span class="title">Training plan name</span>
      <span>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
        lorem lorem lorem lorem lorem</span>
      <span class="date">Last edit: 2020-02-01</span>
    </div>
    <div class="right-side">
      <i class="far fa-heart"></i>
      <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-check"></i>
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>

  <div class="training-container">
    <div class="left-side">
      <span class="title">Training plan name</span>
      <span>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
        lorem lorem lorem lorem lorem</span>
      <span class="date">Last edit: 2020-02-01</span>
    </div>
    <div class="right-side">
      <i class="far fa-heart"></i>
      <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-check"></i>
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>

  <div class="training-container">
    <div class="left-side">
      <span class="title">Training plan name</span>
      <span>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
        lorem lorem lorem lorem lorem</span>
      <span class="date">Last edit: 2020-02-01</span>
    </div>
    <div class="right-side">
      <i class="far fa-heart"></i>
      <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-check"></i>
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>

  <div class="training-container">
    <div class="left-side">
      <span class="title">Training plan name</span>
      <span>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
        lorem lorem lorem lorem lorem</span>
      <span class="date">Last edit: 2020-02-01</span>
    </div>
    <div class="right-side">
      <i class="far fa-heart"></i>
      <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-check"></i>
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>

  <div class="training-container">
    <div class="left-side">
      <span class="title">Training plan name</span>
      <span>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
        lorem lorem lorem lorem lorem</span>
      <span class="date">Last edit: 2020-02-01</span>
    </div>
    <div class="right-side">
      <i class="far fa-heart"></i>
      <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-check"></i>
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>
</div>

<div class="pagination-wrapper">
  <nav class="pagination-container">
    <div class="pagination">
      <a class="pagination-newer">PREV</a>
      <span class="pagination-inner">
        <a>1</a>
        <a class="pagination-active">2</a>
        <a>3</a>
      </span>
      <a class="pagination-older">NEXT</a>
    </div>
  </nav>
</div>
