<div class="main-container">
  <div class="user-settings-container">
    <div class="chat-header">
      <span>Russel Orhii</span>
    </div>
    <div class="chat">
      <div>
        <span class="receiverUser">Bryce Krawczyk</span>
        <!-- <span *ngIf="message.isSender" class="senderUser">Russel Orhii</span> -->
        <div class="message">
          <span>Testowa wiadomoscasdasd</span>
          <span class="date">2020.02.20</span>
        </div>
      </div>
    </div>
    <div class="input-field">
      <input class="input-text effect-2" type="text" placeholder="Enter message">
      <span class="fas fa-envelope fa-lg fa-envelope-input"></span>
      <span class="focus-border"></span>
    </div>
  </div>
</div>
