<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar><span>GymNotes</span></mat-toolbar>
    <mat-nav-list>
      <div class="main-container">
        <div class="drawer-wrapper">
          <div class="user-container">
            <div class="avatar-container"><img src="/images/russ.jpg" class="avatar"
                [routerLink]="['/userList/userprofile', Authentication.UserId]">
            </div>
            <div class="name-wrapper" [routerLink]="['/userList/userprofile', Authentication.UserId]">
              <span class="first">{{userStorage.UserData.firstName}}</span>
              <span class="alias" *ngIf="userStorage.UserData?.alias != null">{{userStorage.UserData.alias}}</span>
              <span class="last">{{userStorage.UserData.lastName}}</span>
            </div>
          </div>
          <div class="menu-container">
            <app-NavigationItem class="no-outline" routerLink="/userList" routerLinkActive Icon="fas fa-search" Title="Search user">
            </app-NavigationItem>
            <app-NavigationItem class="no-outline" routerLink="/training-list" routerLinkActive Icon="fas fa-th-list"
              Title="Training plan"></app-NavigationItem>
            <app-NavigationItem class="no-outline" routerLink="/calendar" routerLinkActive Icon="fas fa-calendar-alt"
              Title="Training history"></app-NavigationItem>
            <app-NavigationItem class="no-outline" routerLink="/tools" routerLinkActive Icon="fas fa-tools" Title="Tools">
            </app-NavigationItem>
            <app-NavigationItem class="no-outline" routerLinkActive Icon="fas fa-chart-area" Title="Statistics"></app-NavigationItem>
            <app-NavigationItem class="no-outline" routerLinkActive Icon="fas fa-users" Title="Pupil"></app-NavigationItem>
            <app-NavigationItem class="no-outline" routerLinkActive Icon="fas fa-user-friends" Title="Coach"></app-NavigationItem>
          </div>
        </div>
        <div class="footer-container">
          <i class="fas fa-bell" routerLink="/notifications" routerLinkActive='settings-element-active'>
            <div class="icon-notification">2</div>
          </i>
          <i class="far fa-envelope" routerLink="/chat" routerLinkActive='settings-element-active'></i>
          <i class="fas fa-user-cog" routerLinkActive='settings-element-active' routerLink="/settings/general"></i>
          <i class=" fas fa-power-off" (click)="logout()"></i>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
