<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar><span>GymNotes</span></mat-toolbar>
    <mat-nav-list>
      <div class="main-container">
        <div class="drawer-wrapper">
          <div class="user-container">
            <div class="avatar-container"><img src="/images/russ.jpg" class="avatar"
              [routerLink]="['/userList/userprofile', Authentication.UserId]">
            </div>
            <div class="name-wrapper" [routerLink]="['/userList/userprofile', Authentication.UserId]" >
              <span class="first">{{userStorage.UserInfo.firstName}}</span>
              <span class="alias" *ngIf="userStorage.UserInfo?.alias != null">{{userStorage.UserInfo.alias}}</span>
              <span class="last">{{userStorage.UserInfo.lastName}}</span>
            </div>
          </div>
          <div class="menu-container">
            <div class="menu-element"
              routerLink="/userList"
              routerLinkActive='settings-element-active'>
              <a class="fas fa-search"></a> <span class="menu-name">Search user</span>
            </div>
            <div class="menu-element"
              routerLink="/training-list"
              routerLinkActive='settings-element-active'>
              <a class="fas fa-th-list"></a> <span class="menu-name">Training plan</span>
            </div>
            <div class="menu-element"
              routerLink="/calendar"
              routerLinkActive='settings-element-active'>
              <a class="fas fa-calendar-alt"></a> <span class="menu-name">Training history</span>
            </div>
            <div class="menu-element"
              routerLink="/tools"
              routerLinkActive='settings-element-active'>
              <a class="fas fa-tools"></a> <span class="menu-name">Tools</span>
            </div>
            <div class="menu-element"
              routerLink="/statistics"
              routerLinkActive='settings-element-active'>
              <a class="fas fa-chart-area"></a> <span class="menu-name">Statistics</span>
            </div>
            <div class="menu-element"
              routerLinkActive='settings-element-active'>
              <a class="fas fa-users"></a> <span class="menu-name">Pupil</span>
            </div>
            <div class="menu-element"
              routerLinkActive='settings-element-active'>
              <a class="fas fa-user-friends"></a> <span class="menu-name">Coach</span>
            </div>
          </div>
        </div>
        <div class="footer-container">
          <i class="fas fa-bell"
            routerLink="/notifications"
            routerLinkActive='settings-element-active'>
            <div class="icon-notification">2</div>
          </i>
          <i class="far fa-envelope"
            routerLink="/chat"
            routerLinkActive='settings-element-active'></i>
          <i class="fas fa-user-cog"
            routerLinkActive='settings-element-active'
            routerLink="/settings/general"></i>
          <i class=" fas fa-power-off"
            (click)="logout()"></i>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
