<form [formGroup]="emailForm" (submit)="submit()">
  <div class="main-panel">
    <div class="wrapped-div">
      <div class="info-container">
        <label class="title">Did you forgot your password?</label>
        <label class="subTitle">Enter your email address you are using for your account below and we will send you
          a password reset link</label>
        <div class="input-field">
          <input class="input-text effect-2" type="email" placeholder="Email" formControlName="email">
          <span class="fas fa-envelope fa-lg fa-envelope-input"></span>
          <span class="focus-border"></span>
        </div>
        <div class="errorContainer" *ngIf="submitted || form.email.touched">
          <span class="errorInfo" *ngIf="form.email.touched && form.email.errors?.required">Email is
            required</span>
          <span class="errorInfo" *ngIf="form.email.touched && form.email.errors?.email">Email is not valid</span>
        </div>
        <div class="btn-container">
          <div class="sim-button button13" (click)="submit()">Request reset link</div>
        </div>
        <label class="footer" (click)="backToSignIn()">Back to Sign in page</label>
      </div>
    </div>
  </div>
</form>
