@import '_main';

.input-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.title{
  color: #a09faf;
  margin-right: 10px;
  min-width: 120px;
}

.input-text {
	padding: 10px 9px 10px 8px;
}

.top{
  color: #fff;
  font-size: 26px;
  text-align: center;
  border-bottom: 1px solid #ed2a54;
  padding-bottom: 5px;
}

.result-container{
  margin-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

input.form-control,
input.form-control:focus {
  color: #a09faf;
	border: 1px solid #232228;
}

input.form-control:focus {
	box-shadow: none;
}

.select-container{
  margin: 20px;
}

.input {
  max-width: 240px;
  outline: none;
  background-color: #232228;
  border-radius: 8px;
	border: solid 1px #232228;
	resize: none;
	color: #a09faf;

	-webkit-transition: border 300ms ease-out;
	-moz-transition: border 300ms ease-out;
	-o-transition: border 300ms ease-out;
}

.input:focus {
	border: solid 1px #232228;
	background: rgba(33, 43, 70, 0.7);
	outline: none;
}

.input-field {
	margin: 10px 20px 10px 20px;
}

.result-wrapper{
  display: flex;
  flex-direction: row;
  margin: 10px 30px 10px 30px;
  border-bottom: 1px solid #2f2e36;
  padding: 6px;

}

.result-title{
  width: 250px;
  text-align: left;
}

.calories-result{
  width: 40px;
  text-align: left;
}

.result-title, .calories-result{
  margin-right: 10px;
}

