<div class="main-container">
  <div class="top">Body mass index (BMI)</div>
  <div class="switch-ontainer">
    <label class="switch">
      <input class="switch-input" type="checkbox" />
      <span class="switch-label" data-on="Metric" data-off="Imperial"></span> <span class="switch-handle"></span>
    </label>
  </div>
  <div class="input-container">
    <div class="title">Age</div>
    <div class="input-field">
      <input class="input-text effect-2" type="number" placeholder="Age" step="1">
      <span class="focus-border"></span>
    </div>
  </div>
  <div class="input-container">
    <div class="title">Weight (pounds)</div>
    <div class="input-field">
      <input class="input-text effect-2" type="number" placeholder="Weight" step="0.01">
      <span class="focus-border"></span>
    </div>
  </div>
  <div class="input-container">
    <div class="title">Height (feet)</div>
    <div class="input-field">
      <input class="input-text effect-2" type="number" placeholder="Height" step="0.01">
      <span class="focus-border"></span>
    </div>
  </div>
  <div class="result-container">
    <span class="bmi-type">Your Body Mass Index is 24</span>
  </div>
</div>
