<div class="main-container">
  <div class="main-wrapper">
    <div class="photo-background">
      <img class="img" src="/images/bryce.jpg">
      <div class="navbar">
        <div class="icon" *ngIf="selectedUserId != authentication.UserId">
          <i class="fas fa-envelope fa-lg"></i>
          <div class="icon-tooltip">
            <p>Send Message</p>
          </div>
        </div>
        <div class="icon" (click)="profileEditing()" *ngIf="selectedUserId === authentication.UserId">
          <i class="fas fa-user-edit"></i>
          <div class="icon-tooltip">
            <p>Profile editing</p>
          </div>
        </div>
        <div class="icon" (click)="sendCoachingRequest()" *ngIf="selectedUserId != authentication.UserId">
          <i class="fas fa-user-plus"></i>
          <div class="icon-tooltip">
            <p>Send coaching request</p>
          </div>
        </div>
      </div>
      <img src="/images/bryce.jpg" class="avatar">
    </div>
    <div class="main-content">
      <div class="social-icon-wrapper">
        <div class="social-icon-left">
          <a target="_blank" href="{{UserInfo.facebook}}" class="btn-icon facebook"><i class="fab fa-facebook-f"></i></a>
          <a target="_blank" href="{{UserInfo.instagram}}" class="btn-icon instagram"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="social-icon-right">
          <a target="_blank" href="{{UserInfo.twitter}}" class="btn-icon twitter"><i class="fab fa-twitter"></i></a>
          <a target="_blank" href="{{UserInfo.youTube}}" class="btn-icon youtube"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="name-wrapper">
        <span class="first">{{UserInfo.firstName}}</span>
        <span class="alias" *ngIf="UserInfo?.alias != null">{{UserInfo.alias}}</span>
        <span class="last">{{UserInfo.lastName}}</span>
      </div>
      <div class="info">
        <span class="secondary-text">
          Age: 24 |
          Gender: {{printProp(UserInfo.gender)}} |
          Height: {{printProp(UserInfo.height)}} |
          Weight: 85kg</span>
        <span class="secondary-text" *ngIf="UserInfo?.description != null">{{UserInfo.description}}</span>
        <span class="secondary-text" *ngIf="UserInfo.isCoach">Coach: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
            class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i></span>
        <span class="secondary-text">Discipline: {{printProp(UserInfo.discipline)}}</span>
        <span class="secondary-text">Years of experience: {{printProp(UserInfo.yearsOfExperience)}}</span>
      </div>
      <div class="achievements-container" *ngIf="achievementsStorage.AchievementsList?.length > 0">
        <span class="section-title">Achievements</span>
        <app-AchievementsList [editMode]="false" [userId]="authentication.UserId"></app-AchievementsList>
      </div>
      <!-- <app-AchievementsSection></app-AchievementsSection> -->
      <app-CommentSection [selectedUserId]="selectedUserId"></app-CommentSection>
    </div>
  </div>
