<div class="training-week">
  <div class="input-wrapper width500">
    <div class="input-field">
      <input required class="input-text effect-2" #name="ngModel" [(ngModel)]="Name" type="text" placeholder="Training week name" maxlength="50">
      <span class="focus-border"></span>
    </div>
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">ALERT</div>
  </div>
  <div class="training-day">
    <div class="input-wrapper width500">
      <div class="input-field">
        <input class="input-text effect-2" type="text" placeholder="Training day name" maxlength="50">
        <span class="focus-border"></span>
      </div>
    </div>
    <div class="training-exercies">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" style="width: 200px;">Exercise</th>
              <th scope="col" style="width: 60px;">Sets</th>
              <th scope="col" style="width: 60px;">Reps</th>
              <th scope="col" style="width: 60px;">Tempo</th>
              <th scope="col" style="width: 60px;">Rest[s]</th>
              <th scope="col" style="width: 60px;">RPE</th>
              <th scope="col" style="width: 140px;">Weight[pounds]</th>
              <th scope="col" style="width: 200px;">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input class="input-table" type="text" maxlength="50" /></td>
              <td><input class="input-table" type="number" min="0" step="1" /></td>
              <td><input class="input-table" type="number" min="0" step="1" /></td>
              <td><input class="input-table" type="text" maxlength="7" /></td>
              <td><input class="input-table" type="number" min="0" step="1" /></td>
              <td><input class="input-table" type="number" min="0" max="10" step="1" /></td>
              <td><input class="input-table" type="number" min="0" step="1" /></td>
              <td><input class="input-table" type="text" maxlength="150" /></td>
              <td class="table-icon"><span class="fas fa-trash-alt" title="Delete"></span></td>
              <td class="table-icon"><span class="fas fa-plus" title="Add"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="btn-wrapper width500">
      <div class="btn-container btn-width100">
        <div class="sim-button button13">Remove training day</div>
      </div>
      <div class="btn-container btn-width100">
        <div class="sim-button-green button13-green">Add training day</div>
      </div>
    </div>
  </div>
  <div class="btn-wrapper width500">
    <div class="btn-container btn-width100">
      <div class="sim-button button13">Remove training week</div>
    </div>
    <div class="btn-container btn-width100">
      <div class="sim-button-green button13-green">Add training week</div>
    </div>
  </div>
</div>
