<div class="navbar">
  <div class="select-list-container">
    <div class="data-container">
      <select id="filter-option" class="form-control input" name="filter-option">
        <option value="Male">All</option>
        <option value="Female">Coaching request</option>
        <option value="Female">Comments</option>
      </select>
    </div>
    <div class="data-container">
      <select id="filter-option" class="form-control input" name="filter-option">
        <option value="Female">Newest</option>
        <option value="Female">Oldest</option>
      </select>
    </div>
  </div>
</div>

<div class="pagination-wrapper">
  <nav class="pagination-container">
    <div class="pagination">
      <a class="pagination-newer">PREV</a>
      <span class="pagination-inner">
        <a>1</a>
        <a class="pagination-active">2</a>
        <a>3</a>
      </span>
      <a class="pagination-older">NEXT</a>
    </div>
  </nav>
</div>

<div class="notification-container">

  <div class="notification-wrapper">
    <div class="comment-notification">
      <div class="comment-left">
        <div class="info-wrapper">
          <div>
            <img src="/images/bryce.jpg" class="avatar-small">
          </div>
          <div class="comment-right">
            <div>
              <span class="person-name">Patryk Wojcieszak</span>
              <span class="message">posted comment on your profile.</span>
            </div>
            <span class="date">2020-01-01 12:48</span>
          </div>
        </div>
        <div class="icon-wrapper">
          <div class="icon">
            <i class="fas fa-check"></i>
            <div class="icon-tooltip">
              <p>Mark as read</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="notification-wrapper">
    <div class="comment-notification">
      <div class="comment-left">
        <div class="info-wrapper">
          <div>
            <img src="/images/bryce.jpg" class="avatar-small">
          </div>
          <div class="comment-right">
            <div>
              <span class="person-name">Patryk Wojcieszak</span>
              <span class="message">sended coaching request.</span>
            </div>
            <span class="date">2020-01-01 12:48</span>
          </div>
        </div>
        <div class="icon-wrapper">
          <div class="icon">
            <i class="fas fa-check"></i>
            <div class="icon-tooltip">
              <p>Accept</p>
            </div>
          </div>
          <div class="icon">
            <i class="fas fa-trash"></i>
            <div class="icon-tooltip">
              <p>Delete</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="pagination-wrapper">
  <nav class="pagination-container">
    <div class="pagination">
      <a class="pagination-newer">PREV</a>
      <span class="pagination-inner">
        <a>1</a>
        <a class="pagination-active">2</a>
        <a>3</a>
      </span>
      <a class="pagination-older">NEXT</a>
    </div>
  </nav>
</div>
