<div class="main-container ">
  <div class="header-modal">
    <span class="modal-title">{{ title }}</span>
    <i class="far fa-times-circle" (click)="dismiss()"></i>
  </div>
  <div class="body-modal">
    {{ message }}
  </div>
  <div class="footer-modal">
    <div class="btn-container">
      <div class="sim-button button13 cancel-btn" (click)="decline()">
        Cancel</div>
    </div>
    <div class="btn-container">
      <div class="sim-button-green button13-green" (click)="accept()">Accept</div>
    </div>
  </div>
</div>
