<div id="calendar">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group btn-width100">
        <div class="btn btn-primary btn-work" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Previous
        </div>
        <div style="text-align:center;" class="btn btn-outline-secondary btn-work" mwlCalendarToday
          [(viewDate)]="viewDate">
          Today
        </div>
        <div style="text-align:center;" class="btn btn-primary btn-work" mwlCalendarNextView [view]="view"
          [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <span class="calendar-text-info">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
    </div>
    <div class="col-md-4">
      <div class="btn-group btn-width100">
        <div style="text-align:center;" class="btn btn-primary btn-work" (click)="addTraining()">
          Add training to Calendar
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
  </div>
</div>
