<div id="calendar">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary btn-work" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                    Previous
                </div>
                <div style="text-align:center color:ED2A54;" class="btn btn-outline-secondary btn-work" mwlCalendarToday [(viewDate)]="viewDate">
                    Today
                </div>
                <div style="text-align:center;" class="btn btn-primary btn-work" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                    Next
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 style="text-align:center;color:#ED2A54;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary btn-work" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                    Month
                </div>
                <div class="btn btn-primary btn-work" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                    Week
                </div>
                <div class="btn btn-primary btn-work" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                    Day
                </div>
            </div>
        </div>
    </div>
    <br />
    <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
    </div>
    <div class="content-container">

        <div class="btn-wrapper width300">

            <div class="btn-container btn-width100">
                <div class="sim-button-green button13-green" (click)="addTraining()">Add training to Calendar</div>
            </div>
        </div>
    </div>

</div>