<div class="card" (click)="onUserSelected(user.id)">
  <div class="front">
    <div class="content">
      <span class="mainText">{{user.fullName | defaultValue:'-'}}</span>
      <span class="secondaryText">Age: {{utility.getAge(user.birthday) | defaultValue:'-'}} | Gender: {{user.gender | defaultValue:'-'}} |
        Height: {{(0+user.height).toFixed(1) | defaultValue:'-' +'cm'}} | Weight: {{null | defaultValue:'-'}}</span>
      <span *ngIf="user.isCoach" class="secondaryText">Coach: <i class="fas fa-star"></i> <i
          class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
          class="fas fa-star-half-alt"></i></span>
      <div class="image">
        <img class="img" src="/images/russ.jpg">
      </div>
    </div>
  </div>
  <div class="back">
    <div class="content">
      <div class="top-icons">
        <span class="fas fa-envelope fa-lg" (click)="sendMessage(user.id)"></span>
      </div>
      <div class="avatar-container">
        <img src="/images/russ.jpg" class="avatar">
        <img src="/images/russ.jpg" class="avatar-background">
      </div>
      <div class="icon-button">
        <a target="_blank" [href]="user.facebook | defaultValue:'#'" class="btn-icon facebook" ><i
            class="fab fa-facebook-f"></i></a>
        <a target="_blank" [href]="user.instagram | defaultValue:'#'" class="btn-icon instagram"><i
            class="fab fa-instagram"></i></a>
        <a target="_blank" [href]="user.twitter | defaultValue:'#'" class="btn-icon twitter"><i
            class="fab fa-twitter"></i></a>
        <a target="_blank" [href]="user.youTube  | defaultValue:'#'" class="btn-icon youtube"><i
            class="fab fa-youtube"></i></a>
      </div>
      <div class="content-container">
        <span class="mainText">{{user.fullName | defaultValue:'-'}}</span>
        <span class="secondaryText">Age: {{utility.getAge(user.birthday | defaultValue:'-')}} | Gender: {{user.gender | defaultValue:'-'}}
          | Height: {{(0+user.height).toFixed(1) | defaultValue:'-'+'cm'}} | Weight: {{null | defaultValue:'-'}}</span>
        <span class="secondaryTextBack">{{user.description | defaultValue:'-'}}</span>
        <span *ngIf="user.isCoach" class="secondaryTextBack">Coach: <i class="fas fa-star"></i> <i
            class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
            class="fas fa-star-half-alt"></i></span>
        <span class="secondaryTextBack">Discipline: {{user.discipline | defaultValue:'-'}}</span>
        <span class="secondaryTextBack">Years of experience: {{user.yearsOfExperience | defaultValue:'-'}}</span>
      </div>
    </div>
  </div>
</div>
