@import '_main';

.main-container{
	width: 100%;
  margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
  padding: 25px;
}

.menu-left{
  color: #a09faf;
  float: left;
  max-width: 320px;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 25px;
  margin: 18px;
  margin-bottom: 20px;
  color: #fff;
}

.wrapper-panel{
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.6);
  float: left;
  max-width: 600px;
  min-width: 380px;
  flex-grow: 1;
}

.settings-panel{
  border-bottom: 1px solid #2f2e36;
  display: flex;
  flex-direction: column;
}

.settings-element:hover{
  background: #2f2e36;
}

.fa-cog,
.fa-user-shield,
.fa-user-lock,
.fa-bell{
  color: #a09faf;
}

.settings-element{
  /* display: block; */
  display: flex;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;

  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.settings-element > span{
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.settings-element-active{
  background: #060d19;
  border-radius: 10px;
}

.settings-element > a{
  padding-right: 20px;
  width: 50px;
}

@media screen and (max-width: 850px) {
  .main-container{
    flex-direction: column;
  }

  .settings-panel{
    flex-direction: row;
  }

  .menu-left{
    width: 100%;
    max-width: 100%;
  }

  .settings-name{
    display: none;
  }

  .settings-element{
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
  }

  .mobile{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-bottom: 10px;
  }

  .title{
    align-self: flex-start;
  }

  .settings-element > a{
    padding-right: 0;
    width: auto;
  }

  .main-container{
    padding: 0;
  }

  .title{
    margin-left: 5px;
  }
}
