<div class="main-container">
  <div class="menu-left">
    <div class="title">Settings</div>
    <div class="mobile">
      <div class="settings-panel">
        <app-NavigationItem class="no-outline" routerLink="general" routerLinkActive Icon="fas fa-cog" Title="General">
        </app-NavigationItem>
        <app-NavigationItem class="no-outline" routerLink="security" routerLinkActive Icon="fas fa-user-shield" Title="Security">
        </app-NavigationItem>
        <app-NavigationItem class="no-outline" routerLinkActive Icon="fas fa-user-lock" Title="Privacy">
        </app-NavigationItem>
        <app-NavigationItem class="no-outline" routerLink="notifications" routerLinkActive Icon="fas fa-bell" Title="Notifications">
        </app-NavigationItem>
      </div>
    </div>
  </div>
  <div class="wrapper-panel">
    <router-outlet></router-outlet>
  </div>
</div>
