<mat-dialog-content>
  <div class="main-container overflow-auto">
    <div class="navbar">
      <div class="center">
        Edit Profile
      </div>
      <div class="right">
        <i class="far fa-times-circle" (click)="close()"></i>
      </div>
    </div>
    <div class="section-container">
      <div class="section-navbar">
        <span>Profile picture</span>
        <button class="edit-btn">Add</button>
      </div>
      <div class="section-content">
        <img src="/images/bryce.jpg" class="avatar">
      </div>
    </div>
    <div class="section-container">
      <div class="section-navbar">
        <span>Background picture</span>
        <button class="edit-btn">Add</button>
      </div>
      <div class="section-content">
        <div class="background-picture-container">
          <img class="img" src="/images/bryce.jpg">
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="section-navbar">
        <span>Achievements</span>
        <button class="edit-btn" (click)="OpenAcievementsEditor(null)">Add</button>
      </div>
      <span *ngIf="AchievementsList?.length === 0" class="achievements-info">It's empty</span>
      <div class="section-content">
        <div class="achievement-wrapper">
          <app-AchievementsList [editMode]="true" [userId]="userAuthentication.UserId"></app-AchievementsList>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="section-navbar">
        <span>Socials</span>
      </div>
      <div class="section-content">
        <div class="social-wrapper">
          <div class="input-field">
            <input class="input-text effect-2" type="text" placeholder="Provide Instagram profile url" name="instagram"
              [(ngModel)]="userStorage.UserInfo.instagram" #instagram="ngModel" (focusout)="updateInstagramURL($event)">
            <span class="fab fa-instagram instagram-icon"></span>
          </div>
          <div class="input-field">
            <input class="input-text effect-2" type="text" placeholder="Provide Facebook profile url" name="facebook"
              [(ngModel)]="userStorage.UserInfo.facebook" #facebook="ngModel" (focusout)="updateFacebookURL($event)">
            <span class="fab fa-facebook-f instagram-icon"></span>
          </div>
          <div class="input-field">
            <input class="input-text effect-2" type="text" placeholder="Provide Twitter profile url" name="twitter"
              [(ngModel)]="userStorage.UserInfo.twitter" #twitter="ngModel" (focusout)="updateTwitterURL($event)">
            <span class="fab fa-twitter instagram-icon"></span>
          </div>
          <div class="input-field">
            <input class="input-text effect-2" type="text" placeholder="Provide Youtube profile url" name="youTube"
              [(ngModel)]="userStorage.UserInfo.youTube" #youTube="ngModel" (focusout)="updateYoutubeURL($event)">
            <span class="fab fa-youtube instagram-icon"></span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!basicInfo" class="basicInfo-btn-wrapper">
      <button class="edit-btn" (click)="showBasicInfo()">Edit your basic info</button>
    </div>
    <div *ngIf="basicInfo" class="section-container">
      <div class="section-navbar">
        <span>Basic info</span>
      </div>
      <div class="section-content">
        <div class="basic-info-section">
          <div class="basic-info-container" [ngClass]="{'basic-info-container-editing': showElement === 'description'}">
            <div class="basic-info-wrapper" (click)="toggle('description')">
              <div class="setting-name">Description</div>
              <button class="basic-info-edit-btn" *ngIf="showElement != 'description'">Edit</button>
            </div>
            <div class="basic-info-content" *ngIf="showElement != 'description'">
              <span>{{userStorage.UserInfo.description != null ? userStorage.UserInfo.description : 'Empty'}}</span>
            </div>
            <div *ngIf="showElement === 'description'">
              <div class="basic-info-input">
                <div class="textarea-field">
                  <textarea class="input-text-without-icon effect-2" maxlength="500" type="text"
                    placeholder="Description" name="description" [(ngModel)]="userStorage.UserInfo.description"
                    #description="ngModel"></textarea>
                  <span class="focus-border"></span>
                </div>
              </div>
              <div class="btn-wrapper">
                <div class="btn-container">
                  <div class="sim-button button13 cancel-btn" (click)="toggle('');$event.stopPropagation()">
                    Cancel</div>
                </div>
                <div class="btn-container">
                  <div class="sim-button-green button13-green" (click)="updateDescription()">Save</div>
                </div>
              </div>
            </div>
          </div>

          <div class=" basic-info-container" [ngClass]="{'basic-info-container-editing': showElement === 'discipline'}">
            <div class="basic-info-wrapper" (click)="toggle('discipline')">
              <div class="setting-name">Discipline</div>
              <button class="basic-info-edit-btn" *ngIf="showElement != 'discipline'">Edit</button>
            </div>
            <div class="basic-info-content" *ngIf="showElement != 'discipline'">
              <span>{{userStorage.UserInfo.discipline != null ? userStorage.UserInfo.discipline : 'Empty'}}</span>
            </div>
            <div *ngIf="showElement === 'discipline'">
              <div class="basic-info-input">
                <div class="textarea-field">
                  <input class="input-text-without-icon effect-2" maxlength="50" type="text" placeholder="Discipline"
                    name="discipline" [(ngModel)]="userStorage.UserInfo.discipline" #discipline="ngModel">
                  <span class="focus-border"></span>
                </div>
              </div>
              <div class="btn-wrapper">
                <div class="btn-container">
                  <div class="sim-button button13 cancel-btn" (click)="toggle('');$event.stopPropagation()">
                    Cancel</div>
                </div>
                <div class="btn-container">
                  <div class="sim-button-green button13-green" (click)="updateDiscipline()">Save</div>
                </div>
              </div>
            </div>
          </div>

          <div class="basic-info-container"
            [ngClass]="{'basic-info-container-editing': showElement === 'trainingSince'}">
            <div class="basic-info-wrapper" (click)="toggle('trainingSince')">
              <div class="setting-name">Training since</div>
              <button class="basic-info-edit-btn" *ngIf="showElement != 'trainingSince'">Edit</button>
            </div>
            <div class="basic-info-content" *ngIf="showElement != 'trainingSince'">
              <span>{{userStorage.UserInfo.trainingSince != null ? userStorage.UserInfo?.trainingSince.getFullYear() : 'Empty'}}</span>
            </div>
            <div *ngIf="showElement === 'trainingSince'">
              <div class="basic-info-input">
                <div class="years-if-expierience-select-box">

                  <div class="dropdown-wrapper-long">
                    <app-Dropdown (selectedItem)="trainingSinceChanged($event)" defaultValue="{{'I train from'}}"
                      [listElements]="years" [selectedElement]="userStorage.UserInfo?.trainingSince?.getFullYear()">
                    </app-Dropdown>
                  </div>

                </div>
              </div>
              <div class="btn-wrapper">
                <div class="btn-container">
                  <div class="sim-button button13 cancel-btn" (click)="toggle('');$event.stopPropagation()">
                    Cancel</div>
                </div>
                <div class="btn-container">
                  <div class="sim-button-green button13-green" (click)="updateTrainingSince()">Save</div>
                </div>
              </div>
            </div>
          </div>

          <div class="basic-info-container" [ngClass]="{'basic-info-container-editing': showElement === 'birthday'}">
            <div class="basic-info-wrapper" (click)="toggle('birthday')">
              <div class="setting-name">Birthday</div>
              <button class="basic-info-edit-btn" *ngIf="showElement != 'birthday'">Edit</button>
            </div>
            <div class="basic-info-content" *ngIf="showElement != 'birthday'">
              <span>{{birthdayMonth}} {{birthdayDay}}, {{birthdayYear}}</span>
            </div>
            <div *ngIf="showElement === 'birthday'">
              <div class="basic-info-input">
                <div class="years-if-expierience-select-box">

                  <div class="dropdown-wrapper-short">
                    <app-Dropdown (selectedItem)="dayChanged($event)" [defaultValue]='birthdayDay' [listElements]="days"
                    [selectedElement]="birthdayDay">
                    </app-Dropdown>
                  </div>

                  <div class="dropdown-wrapper-short">
                    <app-Dropdown (selectedItem)="monthChanged($event)" [defaultValue]='birthdayMonth'
                      [listElements]="months" [selectedElement]="birthdayMonth">
                    </app-Dropdown>
                  </div>

                  <div class="dropdown-wrapper-short">
                    <app-Dropdown (selectedItem)="yearChanged($event)" [defaultValue]='birthdayYear'
                      [listElements]="years" [selectedElement]="birthdayYear">
                    </app-Dropdown>
                  </div>

                </div>
              </div>
              <div class="btn-wrapper">
                <div class="btn-container">
                  <div class="sim-button button13 cancel-btn" (click)="toggle('');$event.stopPropagation()">
                    Cancel</div>
                </div>
                <div class="btn-container">
                  <div class="sim-button-green button13-green" (click)="updateBirthday()">Save</div>
                </div>
              </div>
            </div>
          </div>

          <div class="basic-info-container" [ngClass]="{'basic-info-container-editing': showElement === 'gender'}">
            <div class="basic-info-wrapper" (click)="toggle('gender')">
              <div class="setting-name">Gender</div>
              <button class="basic-info-edit-btn" *ngIf="showElement != 'gender'">Edit</button>
            </div>
            <div class="basic-info-content" *ngIf="showElement != 'gender'">
              <span>{{userStorage.UserInfo.gender != null ? userStorage.UserInfo.gender : 'Empty'}}</span>
            </div>
            <div *ngIf="showElement === 'gender'">
              <div class="basic-info-input">
                <div class="years-if-expierience-select-box">
                  <div class="dropdown-wrapper-long">
                    <app-Dropdown (selectedItem)="genderChanged($event)" defaultValue='Gender'
                      [listElements]="genderDropdownList" [selectedElement]="userStorage.UserInfo.gender">
                    </app-Dropdown>
                  </div>
                </div>
              </div>
              <div class="btn-wrapper">
                <div class="btn-container">
                  <div class="sim-button button13 cancel-btn" (click)="toggle('');$event.stopPropagation()">
                    Cancel</div>
                </div>
                <div class="btn-container">
                  <div class="sim-button-green button13-green" (click)="updateGender()">Save</div>
                </div>
              </div>
            </div>
          </div>

          <div class="basic-info-container" [ngClass]="{'basic-info-container-editing': showElement === 'isCoach'}">
            <div class="basic-info-wrapper" (click)="toggle('isCoach')">
              <div class="setting-name">Are you a coach?</div>
              <button class="basic-info-edit-btn" *ngIf="showElement != 'isCoach'">Edit</button>
            </div>
            <div class="basic-info-content" *ngIf="showElement != 'isCoach'">
              <span>{{userStorage.UserInfo.isCoach == true ? 'Yes' : 'No'}}</span>
            </div>
            <div *ngIf="showElement === 'isCoach'">
              <div class="basic-info-input">
                <div class="years-if-expierience-select-box">
                  <div class="dropdown-wrapper-long">
                    <app-Dropdown (selectedItem)="isCoachChanged($event)" defaultValue='No'
                      [listElements]="coachDropdownList" selectedElement="{{userStorage.UserInfo.isCoach == true ? 'Yes' : 'No'}}">
                    </app-Dropdown>
                  </div>
                </div>
              </div>
              <div class="btn-wrapper">
                <div class="btn-container">
                  <div class="sim-button button13 cancel-btn" (click)="toggle('');$event.stopPropagation()">
                    Cancel</div>
                </div>
                <div class="btn-container">
                  <div class="sim-button-green button13-green" (click)="updateIsCoach()">Save</div>
                </div>
              </div>
            </div>
          </div>

          <div class="basic-info-container" [ngClass]="{'basic-info-container-editing': showElement === 'weight'}">
            <div class="basic-info-wrapper" (click)="toggle('weight')">
              <div class="setting-name">Height</div>
              <button class="basic-info-edit-btn" *ngIf="showElement != 'weight'">Edit</button>
            </div>
            <div class="basic-info-content" *ngIf="showElement != 'weight'">
              <span>{{userStorage.UserInfo.height != null ? userStorage.UserInfo.height : 'Empty'}}</span>
            </div>
            <div *ngIf="showElement === 'weight'">
              <div class="basic-info-input">
                <div class="textarea-field">
                  <input class="input-text-without-icon effect-2" type="number" min="0" step="0.1" placeholder="Height"
                    name="height" [(ngModel)]="userStorage.UserInfo.height" #height="ngModel">
                  <span class="focus-border"></span>
                </div>
              </div>
              <div class="btn-wrapper">
                <div class="btn-container">
                  <div class="sim-button button13 cancel-btn" (click)="toggle('');$event.stopPropagation()">
                    Cancel</div>
                </div>
                <div class="btn-container">
                  <div class="sim-button-green button13-green" (click)="updateheight()">Save</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
