.social-container {
	margin-top: 15px;
	text-align: center;
	color: #a09faf;
}

.social-container > span {
	font-size: 17px;
	display: block;
	margin-bottom: 8px;
}

.social-container > a > .fab {
	font-size: 40px;
	color: #a09faf;
	margin: 10px 25px;
}

.social-container > a > .fab:hover {
	color: #ea4347;
}

.social-container > a > .fa-twitter-square:hover {
	color: #1da1f2;
}

.social-container > a > .fa-facebook-square:hover {
	color: #3b5998;
}

.social-container > a > .fa-instagram:hover {
	color: #c13584;
}

.title-text {
	font-size: 35px;
}

.title-wrapper {
	text-align: center;
	margin-top: 10px;
	border-bottom: 1px solid #c1436d;
}

.form-checkbox {
	margin-top: 15px;
	display: inline-block;
}

.form-forgotPassword {
	float: right;
	margin-right: 20px;
}

.form-forgotPassword a {
	color: #a1a4b6;
	cursor: pointer;
}

.rememberMe-container {
	display: inline-block;
	margin-left: 20px;
}

input[type=checkbox] + label {
	color: #a1a4b6;
	display: block;
	cursor: pointer;
}

input[type=checkbox] {
	display: none;
}

label::before {
	content: "\2713";
	border: 0.1em solid #a1a4b6;
	border-radius: 0.2em;
	padding: 0 0.3em 0 0.3em;
	margin-right: 0.6em;
	vertical-align: bottom;
	color: transparent;
	transition: 0.2s;
}

input[type=checkbox] + label:active::before {
	transform: scale(0);
}

input[type=checkbox]:checked + label::before {
	background-color: #ed2a54;
	border-color: #ed2a54;
	color: #fff;
}

input[type=checkbox]:disabled + label::before {
	transform: scale(1);
	border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label::before {
	transform: scale(1);
	background-color: #bfb;
	border-color: #bfb;
}
.input-field > .fa-eye-slash, .fa-eye{
	position: absolute;
	cursor: pointer;
	top: 18px;
	right: 10px;
	font-size: 15px;
	color: #ed2a54;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}