<div class="main-container overflow-auto">
    <div class=" navbar">
        <div class="center">
            Add training to Calendar
        </div>
        <div class="right">
            <i class="far fa-times-circle" style="font-size:36px;" (click)="close()"></i>
        </div>
    </div>
    <div class="content-container">
        <div class="settings-container">
            <div class="settings-wrapper">
                <div class="left">
                    <div class="icon-wrapper">
                        <i class="fa fa-plus-square"></i>
                    </div>
                    <div class="setting-title-wrapper">
                        <span class="setting-title">Day training plan</span>
                        <span class="setting-type"></span>
                    </div>
                </div>
                <div class="icon-right">
                    <i  class="fas fa-sort-down"></i>
                    <i class="fas fa-sort-up"></i>
                </div>
            </div>
            <div class="swtich-container">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 200px;">Exercise</th>
                                <th scope="col" style="width: 60px;">Sets</th>
                                <th scope="col" style="width: 60px;">Reps</th>
                                <th scope="col" style="width: 60px;">Tempo</th>
                                <th scope="col" style="width: 60px;">Rest[s]</th>
                                <th scope="col" style="width: 60px;">RPE</th>
                                <th scope="col" style="width: 140px;">Weight[pounds]</th>
                                <th scope="col" style="width: 200px;">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="input-table" type="text" maxlength="50" /></td>
                                <td><input class="input-table" type="number" min="0" step="1" /></td>
                                <td><input class="input-table" type="number" min="0" step="1" /></td>
                                <td><input class="input-table" type="text" maxlength="7" /></td>
                                <td><input class="input-table" type="number" min="0" step="1" /></td>
                                <td><input class="input-table" type="number" min="0" max="10" step="1" /></td>
                                <td><input class="input-table" type="number" min="0" step="1" /></td>
                                <td><input class="input-table" type="text" maxlength="150" /></td>
                                <td class="table-icon"><span class="fas fa-trash-alt" title="Delete"></span></td>
                                <td class="table-icon"><span class="fas fa-plus" title="Add"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn-wrapper width500">
                    <div class="btn-container btn-width100">
                        <div class="sim-button-green button13-green">Add training day</div>
                    </div>
                </div>
            </div>

            <div class="settings-container" >
                <div class="settings-wrapper" >
                    <div class="left">
                        <div class="icon-wrapper">
                            <i class="fa fa-plus-square"></i>
                        </div>
                        <div class="setting-title-wrapper">
                            <span class="setting-title">Choose training from training plan</span>
                            <span class="setting-type"></span>
                        </div>
                    </div>
                    <div class="icon-right">
                        <i class="fas fa-sort-down"></i>
                        <i  class="fas fa-sort-up"></i>
                    </div>
                </div>
                <div class="swtich-container" >
                    CHOOSE DAY
                    <div class="input-field">

                        <input class="input-text effect-2" type="search" placeholder="">
                        <span class=" fa-search-input fa-lg" required></span>
                        <span class="focus-border"></span>
                    </div>
                    PLAN
                    <div class="input-field">

                        <input class="input-text effect-2" type="search" placeholder="">
                        <span class=" fa-search-input fa-lg" required></span>
                        <span class="focus-border"></span>
                    </div>
                    WEEK
                    <div class="input-field">

                        <input class="input-text effect-2" type="search" placeholder="">
                        <span class=" fa-search-input fa-lg" required></span>
                        <span class="focus-border"></span>
                    </div>
                    DAY
                    <div class="input-field">

                        <input class="input-text effect-2" type="search" placeholder="">
                        <span class="fa-search-input fa-lg" required></span>
                        <span class="focus-border"></span>
                    </div>
                    <div class="btn-wrapper width500">
                        <div class="btn-container btn-width100">
                            <div class="sim-button-green button13-green  sumbit">Add training day</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
