.pagination-wrapper {
	float: right;
	display: block;
	width: 100%;
}

.pagination-container {
	margin: 10px 35px;
	text-align: center;
	float: right;
	color: #a09faf;
}

.pagination {
	position: relative;
}

.pagination a {
	position: relative;
	display: inline-block;
	color: #a09faf;
	text-decoration: none;
	font-size: 0.8rem;
	padding: 8px 16px 10px;
	margin: 0 5px;
}

.pagination a:before {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	content: "";
	top: 0;
	left: 0;
	background: #ed2a54;
	border-radius: 24px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.pagination a:hover,
.pagination a .pagination-active {
	color: #fff;
}

.pagination a:hover:before,
.pagination a .pagination-active:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.pagination .pagination-active {
	color: #fff;
}

.pagination .pagination-active:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.pagination-newer {
	margin-right: 10px;
}

.pagination-older {
	margin-left: 10px;
}
