<div class="pagination-wrapper">
  <nav class="pagination-container">
    <div class="pagination">
      <a [routerLink]="" [attr.disabled]="!dataList.hasPreviousPage" (click)="prevPage()"
        class="pagination-newer">PREV</a>
      <span class="pagination-inner">
        <a [routerLink]="" *ngIf="dataList.hasPreviousPage">{{dataList.pageIndex-1}}</a>
        <a [routerLink]="" class="pagination-active">{{dataList.pageIndex}}</a>
        <a [routerLink]="" *ngIf="dataList.hasNextPage">{{dataList.pageIndex+1}}</a>
      </span>
      <a [routerLink]="" [attr.disabled]="!dataList.hasNextPage" (click)="nextPage()" class="pagination-older">NEXT</a>
    </div>
  </nav>
</div>
